[submodule "detection/csc"]
	path = detection/csc
	url = https://github.com/KenthJohan/csc
[submodule "recorder/csc"]
	path = recorder/csc
	url = https://github.com/KenthJohan/csc
[submodule "detection2/csc"]
	path = detection2/csc
	url = https://github.com/KenthJohan/csc
